.searchFilterWrapper {
	--text-color: #d1d1d1;

	display: grid;
	grid-template-columns: 45px 1fr 60px;
	height: 45px;
	background-color: #fff;
	border: 1px solid #ebebeb;
	border-radius: 15px;
	margin-top: 40px;
	margin-bottom: 20px;

	font-family: "Roboto", sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 16.41px;
	letter-spacing: 0px;
	color: var(--text-color);
	align-items: center;
}

.searchFilterImageWrapper {
	display: flex;
	justify-content: center;
}

.searchFilterWrapper input {
	border: none;
	height: 100%;
	padding: 0 5px;
}

.searchFilterWrapper input::placeholder {
	color: var(--text-color);
	opacity: 1;
}

.searchFilterWrapper input:-ms-input-placeholder {
	color: var(--text-color); /* Для IE */
}

.searchFilterWrapper input::-ms-input-placeholder {
	color: var(--text-color); /* Для Edge */
}

.searchFilterWrapper input:focus {
	outline: none;
}

.searchFilterCounter {
	text-align: center;
}
