.returnButton {
	border: none;
	background: none;
	width: 79px;
	height: 25px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: auto;
}

.returnButton {
	font-family: "Nunito", sans-serif;
	font-weight: 700;
	font-size: 18px;
	line-height: 24.55px;
	letter-spacing: 0px;
}
