.listItem {
	display: grid;
	grid-template-columns:
		4px 11px minmax(340px, 4fr) 100px 100px minmax(130px, 1.5fr)
		130px;
	height: 70px;
	background-color: #ffffff;
	border-radius: 3px;
}

.listItem:hover {
	box-shadow: 0px 0px 20px 0px #00000026;
}

.listItem div {
	font-family: "Roboto", sans-serif;
	display: flex;
	align-items: center;
	color: #5c5c5c;
	font-size: 12px;
	line-height: 14.06px;
}

.listItem .coloredLine {
	overflow: hidden;
	border-radius: 3px 0 0 3px;
}

.listItem .name {
	color: #474747;
	font-weight: 500;
	font-size: 13px;
	line-height: 15.23px;
}

.listItem .status {
	font-weight: 500;
}
