.listButtonWrapper {
	display: flex;
	align-items: center;
	justify-content: center;
}

.listButton {
	border-radius: 10px;
	border: none;
	color: #fff;
	font-family: "Montserrat", sans-serif;
	height: 30px;
	width: 95px;
	background-color: #3498db;

	font-weight: 600;
	font-size: 12px;
	line-height: 14.63px;
	letter-spacing: 0%;
	text-align: center;
}
